@charset "UTF-8";

@import
  "../bootstrap-variables",                  // See _bootstrap-variables.scss
  "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "layout",
  "navigation",
  "scrollbar";

h1{
  margin-top: 5%;
  color: $background;
  font-weight: 700;
}

h2{
  color: $background;
  font-weight: 600;
}
.aysha, .sylvia{
  width: 70%;
}

.journeymap{
  width: 95%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.persona{
  width: 95%;
}

.ideaboard{
  width: 90%;
  margin-top: 5%;
}

.ideaboard2{
  width: 78%;
  margin-top: 5%;
}

.gif{
  width: 55%;
  margin-bottom: 30%;
}